*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}   

.hero{
    height: 100vh;
    width: 100%;
    background: rgb(0,0,0);
    background-image:url('kindpng_41649.png');
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo
{
    color:rgb(255, 251, 251);
    font-size: 30px;
    font-weight: 500;
}

span{
    color: #ea1538;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 22px;
}

nav ul li a{
    color:rgb(10, 10, 10);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    background-color: #ea1538;
    padding: 12px 30px;
    border: 2px solid transparent;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%  ;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: .3s;
}

nav ul li a:hover{
    background: transparent;
    border: 2px solid #ea1538;
    color: white;
    transform: translate(-10px);
    cursor: pointer;
}

.nav li :after{
    content:'|';
    display:inline-block;
    color:#dddddd;
    vertical-align:middle;
}

.main{
    position: fixed;
    padding: 10px;
    padding-top: 30vh;
    text-align:center;
}

h1{
    color: whitesmoke;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

p{
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.7;
    color: white;
    font-weight: 600;  
}

button 
{
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%  ;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    transition: .3s;
}

button:hover{
    background: transparent;
    border: 2px solid #ea1538;
    color: white;
    transform: translate(-10px);
    cursor: pointer;
}

.links{
    position: absolute;
    top:90%;
    left: 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.links h6{
    color: white;
    font-size: 20px;
    margin-right: 50px;
}

.links .social a{
    display: inline-block;
    color: white ;
    margin-right: 10px;
    transition: .3s;
}

.links .social a:hover{
    transform: translateY(10px);

}